:{$PORT:80} {
    root * /srv
    encode gzip

    handle /api/* {
        reverse_proxy {$BACKEND_HOST:backend.railway.internal}:8000
    }

    handle /healthz {
        respond "OK" 200
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
